*{
    margin : 0;
    padding : 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
/*
font-family: 'Quicksand', sans-serif;
*/
body{
    font-weight: 500;
    background-image: url(assets/bg.jpg);
    background-size:contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

header {
    position : absolute;
    top: 0;
    left: 0;
    width : 100%;
    padding : 30px 100px;
    display: flex;
    justify-content : space-between;
    align-items: center;
}

header .logo {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;

}

header ul{
    display : flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #2b1055;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active{
    background-color: #495371;
    color: white;
}

header ul li a:hover{
    background-color:#54BAB9 ;
}

/*isi*/
section{
    padding: 100px;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}


.home {
    height: 400px;
    width: 100%;
    margin-top: 130px;
    display: flex;
    justify-content: center ;
    align-items: center;
    
}

.home img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.home h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    color: #000;
    
}

.home h3{
    margin-bottom: 30px;
}

.home a{
background-color: #072227;
}

.home a:hover{
    background-color: whitesmoke;
    color:#000;
    outline-style: none;
}
